YOUTUBE_CLIENT_ID=deine_google_client_id
YOUTUBE_CLIENT_SECRET=dein_google_client_secret
YOUTUBE_REFRESH_TOKEN=dein_youtube_refresh_token

FB_PAGE_ACCESS_TOKEN=dein_facebook_page_access_token
FB_PAGE_ID=deine_facebook_page_id

# Für Instagram Reels benötigt die API eine öffentlich zugängliche URL des Videos.
# Trage hier deine Domain ein, z.B. https://teleschmie.de
WEBSITE_DOMAIN=https://teleschmie.de
